.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 15px 0 15px;
  background: var(--main-color);
  color: white;
}
.iconsContainer {
  display: flex;
  align-items: center;
}
.userImage {
  width: 45px;
  height: 45px;
  background: #ffff;
  border-radius: 50%;
}

.navbarButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: none;
  border: solid white 1px;
  padding: 10px;
  color: white;
  font-size: 20px;
  overflow: hidden;
  transition: 200ms;
  width: 20px;
  max-width: 300px;
  transition: 200ms;
}
.searchIcon {
  width: 20px;
  margin: 0 0 0 0;
}
.searchInput {
  background: none;
  border: none;
  border-bottom: solid white 1px;
  color: white;
  outline: none;
  font-size: 15px;
  font-weight: 100;
  margin: 0 0 0 10px;
  display: none;
  width: 0px;
  transition: 200ms;
}
.display {
  display: flex;
  width: 90%;
  transition: 200ms;
}
.expanded {
  width: 70vw;
  max-width: 150px;
}
.navbarButton:hover .searchIcon {
  cursor: pointer;
  animation: shake 200ms 4;
  transition: 200ms;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
