.Link {
  display: inline-block;
  border-radius: 100px;
  padding: 5px 8px;
  background: var(--main-color);
  margin: 3px;
}
.linkData {
  display: flex;
  align-items: center;
  color: white;
  margin: auto;
}
.dot {
  font-size: 9px;
  margin: 0px 5px 0 0;
}
.linkData p {
  margin: 0px 0px;
}
.linkData > a {
  color: white;
}
