.LinksManager {
  color: white;
  background: var(--usefull-color4);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-clip: padding-box;
}
.linksContainer {
  width: 100%;
  border-top: solid rgba(255, 255, 255, 0.629) 1px;
  padding-top: 5px;
}
.linksTitle {
  width: 95%;
  font-size: 20px;
  font-weight: 300;
  border: none;
  margin: 5px 3px 0px 3px;
  background: transparent;
  color: white;
  outline: none;
}
